.todo {
	display: flex;
	width: 60rem;
	max-width: 100%;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	color: $text-blue;
	font-size: $m-size;
	font-weight: bold;
	list-style: none;
	background-color: $dark-blue;
	list-style: none;
	padding: $m-size;
	margin: $m-size $s-size $m-size $s-size;
	word-break: break-all;
}

.todo__desc--input {
  background: $dark-blue;
  text-align: center;
	height: $xl-size;
	display: flex;
	border: none;
	color: $text-blue;
	border-bottom: 0.4rem solid darken($dark-blue, 5%);
	margin-bottom: $s-size;
	flex-grow: 1;
	width: 100%;
	padding: $s-size;
}

.todo__button {
	display: flex;

	.todo__button--delete {
		font-size: 3.5rem !important;
		font-family: Segoe UI Symbol;
	}
	.todo__button--edit {
		color: white;
		font-weight: 800;
	}
	.todo__button--edit:after {
		content: 'Edit';
	}
	.todo__button--toggle {
		color: white;
		font-weight: 800;
	}
}

.todo__desc--input ~ .todo__button > .todo__button--edit:after {
	content: 'Save';
}

.todo.completed > .todo__button > .todo__button--toggle:after {
	content: '\2713\00FE0E';
	text-align: center;
	padding: 0 !important;
	font-size: 3rem;
}

.todo__button--toggle:after {
	content: 'Done';
}

.todo__button * {
	height: $xl-size;
	width: $xl-size;
	background: $red-orange;
	text-align: center;
	font-weight: 600;
	color: white;
	padding: 0.4rem;
	border-bottom: 0.4rem solid darken($red-orange, 10%);
}

.todo__button *:hover {
	transition: ease;
	transition-duration: 0.1s;
	background: #dd3d52;
	border-bottom: 0.4rem solid darken(#dd3d52, 10%);
}

.todo__desc {
	font-size: $m-size;
	padding: $m-size;
	text-align: center;
	color: white;
	width: 100%;
	flex-grow: 1;
}

@media (min-width: 475px) {
  .todo__desc--input {
    text-align: left;
  }
  .todo__desc {
    text-align: left;
  }
}
