$off-black: #ef6351;
$dark-blue: #f38375;
$blue: #f7a399;
$light-blue: #fbc3bc;
$text-blue: #ffffff;
$red-orange: #7651ef;

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.8rem;
$xl-size: 4.8rem;
$xxl-size: 5.8rem;
$desktop-breakpoint: 45rem;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

html {
	font-size: 62.5%;
}

body {
	background-color: $dark-blue;
	font-family: Lato, Helvetica, Arial, sans-serif;
	font-size: $m-size;
}

button {
	cursor: pointer;
	border: none;
	font-size: 1.5rem;
	margin: $s-size;
	padding: $s-size;
}

.hide {
	display: none;
}
